
*{
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(food.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.name{
    position: absolute;
    width: 1200px;
    margin-left: 60px;
    text-align: center;
    margin-top: 275px;
    letter-spacing: 6.16px;
    
}

.name a{
    color: white;
    /* text-transform: uppercase; */
    font-size: 70px;
    font-family: "Palatino", serif;
    text-decoration: none;  
}

.button {
    margin-top: 30px;
    margin-left: -10px;
    color: white;
}

.button1{
    font-size: 10px;
    font-family: "Georgia", serif;
}

.btn{
    border: 3px solid white;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
}

.btn:hover{
    background-color: white;
    color: red;
}

