h1 {
    color: #ea4c88;
}

h4 {
    display: inline-block;
}

input[type=username] {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    border: 2px solid #ee88f1;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
}

input[type=email] {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    border: 2px solid #ee88f1;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
}

input[type=password] {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    border: 2px solid #ee88f1;
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
}

#btn-submit {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: yellow;
    background-image: linear-gradient(to bottom right, rgb(219, 104, 123), violet);
}

#btn-submit:hover {
    background-color: #bf2828; 
}

hr.new {
    border-top: 1px solid gray;
    position: relative;
  }

#btn-fbk {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: #4267b2; 
}

#btn-fbk:hover {
    background-color: #29487d;
}

#btn-google {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: #ea4335;  
}

#btn-google:hover {
    background-color: #c21010;
}

#user-icon {
    font-size:22px;
    display: inline-block;
    position: absolute;
    margin-top: 13px;
    margin-left: 16px;
}

#email-icon {
    font-size:22px;
    display: inline-block;
    position: absolute;
    margin-top: 13px;
    margin-left: 16px;
}

#pass-icon {
    font-size:21px;
    display: inline-block;
    position: absolute;
    margin-top: 13px;
    margin-left: 16px; 
}

.form-check-label {
    padding-left: 40px;
}