.body{
    width:100%;
    display:flex;
    flex-direction: column;
}   
.body>.mainbody1{
    display:flex;
    flex-direction:column;
    height:80%;
}
.body>.mainbody1>#section1-1{
    width:100%;
    height:33.33%
}

.body>.mainbody1>#section1-2{
    width:100%;
    height:33.33%;
}   

.body>.mainbody1>#section1-3{
    width:100%;
    height:33.33%;
}
.body>.mainbody1>.section1{
    text-align: center;
}