.card-rounded 
{
    border-radius: 10px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 2px -2px rgba(0,0,0,.2), 0 1px 50px 0 rgba(0,0,0,.50);
}

.card-rounded>.card-body
{
    position: relative;
    margin: 1.25rem;
    padding: 0;
}

.card-rounded>.card-body>.btn
{
    position: absolute;
    bottom: 0;
}

.card-purple
{
    border-top: 9px solid #c371c0;
}

.card-purple-dark
{
    border-top: 9px solid #9373d2;
}

.card-lg
{
    height: 420px;
}

.card-md
{
    height: 380px;
}

.card-text
{
    font-size: 12px;
}

.btn-purple-outline
{
    border: 2px solid #c371c0;
    border-radius: 25px;
}

.btn-purple-outline:hover
{
    background-color: #c371c0 !important;
    color: white;
}

.btn-purple-dark
{
    background-color: #9373d2;
    color: white;
    border: 2px solid #9373d2;
    border-radius: 25px;
}

.btn-purple-dark:hover
{
    border: 2px solid #9373d2;
    color: black;
    background-color: white !important;
}

