#profile-pic
{
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 2px -2px rgba(0,0,0,.2), 0 1px 50px 0 rgba(0,0,0,.50);
}

.btn-purple-dark
{
    background-color: #9373d2;
    color: white;
    border: 2px solid #9373d2;
    border-radius: 25px;
}

.btn-purple-dark:hover
{
    border: 2px solid #9373d2;
    color: black;
    background-color: white !important;
}

.btn-purple-dark:focus
{
    border: 2px solid #9373d2;
    color: black;
    background-color: white !important;
}

.btn-raised
{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 2px -2px rgba(0,0,0,.2), 0 1px 15px 0 rgba(0,0,0,.50);
}

.btn-icon
{
    display: flex;
}