.header{
    padding-top: 0.5%;
}

.md-form{
    width: 100%;
}
/* PC Version */
.header-search>input[type=text]{
    height: 100%;
    width: 90%;
    padding-right: 10%;
    border-radius: 25px;
}
.header-search>button{
    height: 2em;
    width: 8%;
    position: relative;
    left: -9.5%;
    vertical-align: middle;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgb(238, 130, 238);
    border-color: transparent;
}
.header-search>button:hover{
    background-color: rgb(241, 69, 241);
}
.header-login{
    text-align: right;
}
.header-login>.navbar-brand{
    font: inherit;
    font-weight: 200;
    background-color: #c231c7ba; 
    color:white;
    border: 2px solid white;
    border-radius: 5px;
    margin: 0;
}
.navbar-brand:hover{
    border-color:white;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.navbar-brand:focus{
    border-color: white;
    background-color: transparent;
    color: white;
}
/* Tablet and Phone Version */
.header-nav-searchBar{
    height: 100%;
    width: 75vw;
    padding-right: 10%;
    border-radius: 25px;
}
.header-nav-searchButton{
    height: 2em;
    width: 3em;
    position: relative;
    left: 0;
    vertical-align: middle;
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    margin-left: 1%;
}
.header-nav-searchButton:hover{
    background-color: transparent;
}
@media only screen and (min-width: 1180px){
    .header-search>button{
        left: -9%;
    }
}
@media only screen and (max-width: 768px) and (min-width: 540px){
    /* .header-search>button{
        display: none;
    } */
    .header-nav-searchButton{
        display: none;
    }
    .header-nav-searchBar{
        width: auto;
    }
}
@media only screen and (max-width: 539px){
    .header-nav-searchBar{
        display: none;
    }
}