.header{
    padding-top: 0.5%;
}

.md-form{
    width: 100%;
}

.header-search>input[type=text]{
    height: 100%;
    width: 90%;
    padding-right: 10%;
    border-radius: 25px;
}
.header-search>button{
    height: 2em;
    width: 8%;
    position: relative;
    left: -9.5%;
    vertical-align: middle;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgb(238, 130, 238);
    border-color: transparent;
}
.header-search>button:hover{
    background-color: rgb(241, 69, 241);
}
.header-login{
    text-align: right;
}
.header-login>.navbar-brand{
    font: inherit;
    font-weight: 200;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0;
}
.navbar-brand:hover{
    border-color: rgb(238, 130, 238);
    background-color: transparent;
    color: rgb(238, 130, 238);
}
.navbar-brand:focus{
    border-color: rgb(238, 130, 238);
    background-color: transparent;
    color: rgb(238, 130, 238);
}
@media only screen and (min-width: 1180px){
    .header-search>button{
        left: -9%;
    }
}
@media only screen and (max-width: 768px) and (min-width: 540px){
    .header-search>button{
        display: none;
    }
}
@media only screen and (max-width: 539px){
    .header-search>button{
        width: 3em;
        border-radius: 0px;
        background-color: transparent;
    }
    .header-search>button:hover{
        background-color: transparent;
    }
}