#frame{
    display: none;
}

#frame>.modl{
    border: none;
    position: fixed;
    transition: width 2s height 2s;

    /* The Modal (background) */
    z-index: 4; /*Sit on top*/ 
    left: 0;
    top: 0;
    width: 100%; /*Full height */
    height: 100%; /*Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

.exitbutton{
    float: right;
    font-size: 26px;
    width: 40px;
    height: 40px;
    margin:0;
    border:none;
    color:#bf2828;
    background-color: transparent;
    z-index: 6;
    position: fixed;
    right: 26%;
    top: 75px;
}
.exitbutton:hover{
    color: black;
    background-color: transparent;
}
.exitbutton:focus{
    color: black;
    background-color: transparent;
    outline: none;
}
 
.login-container{
    /* text-align: left; */
    font-size: 1.1vw;
    padding: 15px;
    /* width: 50%; */
    margin: 0;
    overflow: auto;
}
.login-container>input[type=text], .login-container>input[type=password]{
    background: white;
    text-align: center;
    font-size: 1.2vw;
    padding:12px 20px;
    margin-top: 8px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid black;
    width:100%;
    box-sizing: border-box;
    color:#bf2828;
    border-color: transparent;
}
.login-container>input[type=text]:focus, .login-container>input[type=password]:focus{
    outline: none;
    border-color:#bf2828;
} 
.login-container>input[type=checkbox]:focus{
    outline:2px solid #bf2828;
    outline-offset: -2px;
}
.login-picture{
    height: 100%; 
    background-image: url('../photos/food.jpg'); 
    opacity: 0.5; 
    float: right;
}
.login-popup{
    text-align: center;
    z-index: 5;
    position: relative;
    width: 50%;
    height: 75%;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, rgba(97, 99, 219, 0.644) 0%, #C779D0 51%, rgba(144, 35, 117, 0.514) 90%);
    padding: 20px 10px;
    margin-top: 5%;
    margin-left:25%;
}
.login-button{
    text-align: center;
    padding:12px 20px;
    margin-top: 8px;
    border-radius: 25px;
    width:50%;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border-color: transparent;
}
button:hover{
    background-color: white;
    color: #bf2828;
}
button:focus{
    outline: none;
    background-color:rgb(27, 9, 18);
    color: white;
}

.forgot-password{
    display: none;
    background-image: linear-gradient(to bottom right, rgba(97, 99, 219, 0.644) 0%, #C779D0 51%, rgba(144, 35, 117, 0.514) 90%);
    z-index: 5;
    text-align: center;
    position: relative;
    width: 50%;
    height: 75%;
    border-radius: 20px;
    padding: 20px 10px;
    margin-top: 5%;
    margin-left:25%;
}
/*Media Queries for Responsive Design*/
@media only screen and (min-width: 2001px){
    .exitbutton{
        font-size: 26px;
        right: 26%;
        top: 14vh;
    }
    .login-container{
        padding: 15px;
        width: 50%;
    }
    .login-container>input[type=text], .login-container>input[type=password]{
        padding:12px 20px;
        margin-top: 8px;
        /* border-radius: 25px; */
        width:100%;
    }
    .login-popup{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
    .login-button{
        padding:12px 20px;
        margin-top: 8px;
        border-radius: 25px;
        width:50%;
    }
    .forgot-password{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
}
@media only screen and (max-width: 2000px){
    .exitbutton{
        font-size: 26px;
        right: 26%;
        top: 10vh;
    }
    /* .login-container{
        padding: 15px;
        width: 50%;
    } */
    .login-container>input[type=text], .login-container>input[type=password]{
        padding:12px 20px;
        margin-top: 8px;
        /* border-radius: 25px; */
        width:100%;
    }
    .login-popup{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
    .login-button{
        padding:12px 20px;
        margin-top: 8px;
        /* border-radius: 25px; */
        width:50%;
    }
    .forgot-password{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
}
@media only screen and (max-width: 1024px){
    .exitbutton{
        font-size: 26px;
        right: 26%;
        top: 50px;
    }
    .login-container{
        padding: 15px;
        width: 50%;
    }
    .login-container>input[type=text], .login-container>input[type=password]{
        padding:12px 20px;
        margin-top: 8px;
        /* border-radius: 25px; */
        width:100%;
    }
    .login-popup{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
    .login-button{
        padding:12px 20px;
        margin-top: 8px;
        border-radius: 25px;
        width:50%;
    }
    .forgot-password{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
}
@media only screen and (max-width: 768px){
    .exitbutton{
        font-size: 26px;
        right: 26%;
        top: 7vh;
    }
    .login-container{
        padding: 15px;
        width: 100%;
        font-size: 12px;
    }
    .login-container>input[type=text], .login-container>input[type=password]{
        padding:12px 20px;
        margin-top: 8px;
        /* border-radius: 25px; */
        width:100%;
        font-size: 12px;
    }
    .login-picture{
        display:none;
    }
    .login-popup{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
    .login-button{
        padding:12px 20px;
        margin-top: 8px;
        border-radius: 25px;
        width:50%;
    }
    .forgot-password{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
}
@media only screen and (max-width: 576px){
    .exitbutton{
        font-size: 26px;
        right: 1.5vh;
        top: 2vh;
    }
    .login-container{
        padding: 15px;
        width: 100%;
        font-size: 12px;
    }
    .login-container>input[type=text], .login-container>input[type=password]{
        padding:12px 20px;
        margin-top: 8px;
        /* border-radius: 25px; */
        width:100%;
        font-size: 12px;
    }
    .login-picture{
        display:none;
    }
    .login-popup{
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0px;
    }
    .login-button{
        padding:12px 20px;
        margin-top: 8px;
        border-radius: 25px;
        width:50%;
    }
    .forgot-password{
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0px;
    }
}
/* Add Fade In Animation */
.animate {
-webkit-animation: fadein 1s;
animation: fadein 1s;
}

@-webkit-keyframes fadein {
from {opacity: 0;} 
to {opacity: 1;}
}

@keyframes fadein {
from {opacity: 0;} 
to {opacity: 1;}
}