#signup-modal, #forgot-pass-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    z-index:3;
}

#login-popup{
    background-image: linear-gradient(to bottom right, rgba(97, 99, 219, 0.644) 0%, #C779D0 51%, rgba(144, 35, 117, 0.514) 90%);
}

#login-body {
    margin: 0px 25px;
}

#close-btn:hover {
    background: none;
}

.btn-login {
    height: 46px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    color: white;
    transition: 0.5s;
    background-size: 200% auto;
}

.btn-login:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#btn-login {
    background-image: linear-gradient(to right, rgb(94, 243, 254) 0%, #C779D0 51%, rgba(194, 58, 160, 0.767) 80%);
}

.exitbutton{
    float: right;
    font-size: 26px;
    width: 40px;
    height: 40px;
    margin:0;
    border:none;
    color: black;
    background-color: transparent;
    z-index: 6;
    position: fixed;
    right: 26%;
    top: 75px;
}
.exitbutton:hover{
    color: black;
    background-color: transparent;
}
.exitbutton:focus{
    color: black;
    background-color: transparent;
    outline: none;
}
 
.login-container{
    text-align: left;
    font-size: 1.1vw;
    padding: 8px;
    margin: 0;
    overflow: auto;
    color:white;
}

.login-container>input[type=text], .login-container>input[type=password]{
    background-image: none;
    background: none;
    text-align: center;
    font-size: 1.2vw;
    padding:12px 20px;
    margin-top: 8px;
    height: 42px;
    color:white;
    border-radius: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:2px solid white;
}

.login-button{
    text-align: center;
    padding:12px 20px;
    margin-top: 8px;
    border-radius: 25px;
    width:50%;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border-color: transparent;
}

.login-container>input[type="text"]::placeholder {
    color: white;
}

.login-container>input[type="password"]::placeholder {
    color: white;
}


button:hover{
    background-color: white;
    color: #bf2828;
}

button:focus{
    outline: none;
    background-color:rgb(27, 9, 18);
    color: white;
}

.forgot-password{
    display: none;
    z-index: 5;
    text-align: center;
    position: relative;
    width: 50%;
    height: 75%;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, rgba(97, 99, 219, 0.897) 0%, #C779D0 51%, rgb(144, 35, 117) 100%);
    padding: 20px 10px;
    margin-top: 5%;
    margin-left:25%;
}

.fp-row {
    margin-top: 10%;
}

.media-btn {
    font-size:30px;
    color: #81c9ee;
    border-radius: 50%;
}

.media-btn:hover {
    color: white;
}

/* Add Fade In Animation */
.animate {
-webkit-animation: fadein 1s;
animation: fadein 1s;
}

@-webkit-keyframes fadein {
from {opacity: 0;} 
to {opacity: 1;}
}

@keyframes fadein {
from {opacity: 0;} 
to {opacity: 1;}
}