#frame{
    display: none;
}

#frame>.modl{
    border: none;
    position: fixed;
    transition: width 2s height 2s;
    /* align: center; */

    /* The Modal (background) */
    z-index: 4; /*Sit on top*/ 
    left: 0;
    top: 0;
    width: 100%; /*Full height */
    height: 100%; /*Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

.btn-login {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    color: white;
    transition: 0.5s;
    background-size: 200% auto;
}

.btn-login:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#btn-login {
    background-image: linear-gradient(to right, rgb(94, 243, 254) 0%, #C779D0 51%, rgba(194, 58, 160, 0.767) 80%);
}

.exitbutton{
    float: right;
    font-size: 26px;
    width: 40px;
    height: 40px;
    margin:0;
    border:none;
    color: black;
    background-color: transparent;
    z-index: 6;
    position: fixed;
    right: 26%;
    top: 75px;
}
.exitbutton:hover{
    color: black;
    background-color: transparent;
}
.exitbutton:focus{
    color: black;
    background-color: transparent;
    outline: none;
}
 
.login-container{
    text-align: left;
    font-size: 1.1vw;
    padding: 8px;
    width: 50%;
    margin: 0;
    overflow: auto;
    color:white;
}

.login-container>input[type=text], .login-container>input[type=password]{
    background-image: none;
    background: none;
    text-align: center;
    font-size: 1.2vw;
    padding:12px 20px;
    margin-top: 8px;
    height: 42px;
    width:100%;
    color:white;
    border-radius: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:2px solid white;
}

.login-popup{
    text-align: center;
    z-index: 5;
    position: relative;
    width: 50%;
    height: 75%;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, rgba(97, 99, 219, 0.644) 0%, #C779D0 51%, rgba(144, 35, 117, 0.712) 90%);
    padding: 20px 10px;
    margin-top: 5%;
    margin-left:25%;
}

.login-button{
    text-align: center;
    padding:12px 20px;
    margin-top: 8px;
    border-radius: 25px;
    width:50%;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border-color: transparent;
}

.login-container>input[type="text"]::placeholder {
    color: white;
}

.login-container>input[type="password"]::placeholder {
    color: white;
}


button:hover{
    background-color: white;
    color: #bf2828;
}

button:focus{
    outline: none;
    background-color:rgb(27, 9, 18);
    color: white;
}

.forgot-password{
    display: none;
    z-index: 5;
    text-align: center;
    position: relative;
    width: 50%;
    height: 75%;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, rgba(97, 99, 219, 0.897) 0%, #C779D0 51%, rgb(144, 35, 117) 100%);
    padding: 20px 10px;
    margin-top: 5%;
    margin-left:25%;
}

.fp-row {
    margin-top: 10%;
}

.media-btn {
    font-size:30px;
    color: #81c9ee;
    border-radius: 50%;
}

.media-btn:hover {
    color: white;
}

/*Media Queries for Responsive Design*/
@media only screen and (min-width: 2001px){
    .exitbutton{
        font-size: 26px;
        right: 26%;
        top: 14vh;
    }
    .login-container{
        padding: 15px;
        width: 50%;
    }
    .login-container>input[type=text], .login-container>input[type=password]{
        padding:12px 20px;
        margin-top: 8px;
        /* border-radius: 25px; */
        width:100%;
    }
    .login-popup{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
    .login-button{
        padding:12px 20px;
        margin-top: 8px;
        border-radius: 25px;
        width:50%;
    }
    .forgot-password{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
}
@media only screen and (max-width: 2000px){
    .btn-login {
        width: 100%;
        height: 46px;
        box-sizing: border-box;
        border: 2px solid;
        border-radius: 25px;
        font-size: 16px;
        text-align: center;
        color: white;
        transition: 0.5s;
        background-size: 200% auto;
    }

    .exitbutton{
        font-size: 26px;
        right: 26%;
        top: 75px;
    }
    .login-container{
        /* padding: 15px; */
        width: 50%;
        margin-left: 153px;
    }
    .login-container>input[type=text], .login-container>input[type=password]{
        padding:12px 20px;
        margin-top: 8px;
        /* border-radius: 25px; */
        width:100%;
        color:white;
    }
    .login-popup{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
    .login-button{
        padding:12px 20px;
        margin-top: 8px;
        border-radius: 25px;
        width:50%;
    }
    .forgot-password{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }

    .fp-row {
        margin-top: 10%;
    }

}
@media only screen and (max-width: 1024px){
    .exitbutton{
        font-size: 26px;
        right: 26%;
        top: 50px;
    }
    .login-container{
        padding: 15px;
        width: 50%;
    }
    .login-container>input[type=text], .login-container>input[type=password]{
        padding:12px 20px;
        margin-top: 8px;
        /* border-radius: 25px; */
        width:100%;
    }
    .login-popup{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
    .login-button{
        padding:12px 20px;
        margin-top: 8px;
        border-radius: 25px;
        width:50%;
    }
    .forgot-password{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
}
@media only screen and (max-width: 768px){
    .exitbutton{
        font-size: 26px;
        right: 26%;
        top: 7vh;
    }
    .login-container{
        padding: 15px;
        width: 100%;
        font-size: 12px;
    }
    .login-container>input[type=text], .login-container>input[type=password]{
        padding:12px 20px;
        margin-top: 8px;
        /* border-radius: 25px; */
        width:100%;
        font-size: 12px;
    }
    .login-picture{
        display:none;
    }
    .login-popup{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
    .login-button{
        padding:12px 20px;
        margin-top: 8px;
        border-radius: 25px;
        width:50%;
    }
    .forgot-password{
        width: 50%;
        height: 75%;
        padding: 20px 10px;
        margin-top: 5%;
        margin-left:25%;
    }
}
@media only screen and (max-width: 576px){
    .exitbutton{
        font-size: 26px;
        right: 1.5vh;
        top: 2vh;
    }
    .login-container{
        padding: 15px;
        width: 100%;
        font-size: 12px;
    }
    .login-container>input[type=text], .login-container>input[type=password]{
        padding:12px 20px;
        margin-top: 8px;
        /* border-radius: 25px; */
        width:100%;
        font-size: 12px;
    }
    .login-picture{
        display:none;
    }
    .login-popup{
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0px;
    }
    .login-button{
        padding:12px 20px;
        margin-top: 8px;
        border-radius: 25px;
        width:50%;
    }
    .forgot-password{
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0px;
    }
}
/* Add Fade In Animation */
.animate {
-webkit-animation: fadein 1s;
animation: fadein 1s;
}

@-webkit-keyframes fadein {
from {opacity: 0;} 
to {opacity: 1;}
}

@keyframes fadein {
from {opacity: 0;} 
to {opacity: 1;}
}